.img {
    float:  left;
    width:  220px;
    height: 400px;
    background-size: cover;
}

.img-alt {
    float:  left;
    width:  270px;
    height: 400px;
    background-size: cover;
}

.img-alt1 {
    float:  left;
    width:  320px;
    height: 400px;
    background-size: cover;
}