<div align="center"> <h1>Meet the team</h1> </div>
<div align="center"><img src="https://firebasestorage.googleapis.com/v0/b/mini-proj-48d60.appspot.com/o/usss.jpeg?alt=media&token=0d96962a-b0c9-4b85-b2ac-9bcf69c1fe3d" width="700" height="" alt="My Pic">
</div>
<table align="center">
    <tr >
        <th><img class="img-alt" src="https://firebasestorage.googleapis.com/v0/b/mini-proj-48d60.appspot.com/o/mee.jfif?alt=media&token=41aacd51-369e-467d-8582-c98ae486ffde"> </th>
        <th><img class="img-alt1" src="https://firebasestorage.googleapis.com/v0/b/mini-proj-48d60.appspot.com/o/Twinkle.jpeg?alt=media&token=ffbb3790-82c7-482d-8e0a-5f833abbd51e"></th>
        <th><img class="img" src="https://firebasestorage.googleapis.com/v0/b/mini-proj-48d60.appspot.com/o/1581356088328__01.jpg?alt=media&token=0201a351-408e-40a0-825f-e9e5012c2329"></th>
    </tr>
    <tr>
        <td>Hello I am Vaishnavi Desai</td>
        <td>I am Twinkle Bagdi and I am a third year Student</td>
        <td>Our contact details are listed below</td>
    </tr>
</table>
