body{
    background-color: rgb(91, 105, 148);
   
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: black;
    margin-top: 30px 0px -15px;
    font-size: 40px;
}

.cont{
    margin: auto 20px auto 20px;
}
.contain_all{
    background-color:rgb(240,240,240);
    padding: 5px;
}
.row{
    padding: 10px;
    margin: 5px;
    display:flex;
    justify-content: space-between;
    border-style: solid;
    border-color: 	rgb(224,224,224);
    border-width: thin;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    box-shadow: black;
}

.question{
    flex-basis:30%;
}

.others{
    flex-basis: 10%;
}

.icon{
    flex-basis: 2%;
    border-style: solid;
    border-color: 	rgb(224,224,224);
    border-width: thin;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    box-shadow: 5px 5px 2px rgb(208,208,208);
    cursor: pointer;
}

.question, .others, .icon{
    padding: 10px;
    box-sizing: border-box;
    font-family: Cambria;
}

.icon:hover{
    background-color:rgb(250,250,250);
}

.row:hover{
    background-color:rgb(245,245,245);
}

.icon:active{
    background-color:rgb(250,250,250);
    box-shadow: none;
}

.button{
    background-color: rgb(39, 104, 202); /* Green */
    border: none;
    color: white;
    padding: 10px 30px 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 1px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 3px 3px 2px rgb(3, 22, 51);
}

.button:hover{
    background-color:rgb(55, 127, 235);
}

.button:active{
    background-color:rgb(55, 127, 235);
    box-shadow: none;
}

input{
    flex:enabled;
}

input.question{
    flex: 30
}
input.others{
    flex: 1
}