img{
    position: absolute;
    clip: rect(auto,auto,650px,auto);
}



.top-left {
    position: relative;
    top: 18px;
    left: 20px;
}

.top-middle{
    position: relative;
    top: 25px;
    left:20px;
}

 .bottom-middle {
    position: absolute;
    top: 70%;
    left: 10%;
 }

 .bottom-center {
    position: relative;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 }
  
