<div>
    <img align="center" src="https://thumbs.dreamstime.com/z/online-test-concept-quiz-computer-education-learning-digital-device-vector-illustration-cartoon-style-141700495.jpg" width="1080" height="720" alt="Test">
<div class="top-left"><h4 class="mt-4">Home Page</h4></div>
  
<div *ngIf="user" class="top-middle">Logged in as: {{ user?.email }} - {{ user?.displayName }}</div>

<button class="btn btn-primary mr-2 bottom-middle" *ngIf="!user" (click)="register()">Register</button>
<button class="btn btn-primary bottom-center" *ngIf="!user" (click)="login()">Login</button>
<p>
<button class="btn btn-warning mr-5 bottom-middle" *ngIf="user" (click)="subQues()" >Submit Questions</button>
<button class="btn btn-warning bottom-center" *ngIf="user" (click)="subQues()" >Answer Test</button>
</p>

<!--<button class="btn btn-primary" *ngIf="user" (click)="logout()">Logout</button>-->

</div>